APP_NAME=LendFast
APP_ENV=local
APP_KEY=base64:67PA9E2KDKxgGfwjOeQKB1PBrrOxu17ehWriSvlp8Kk=
APP_DEBUG=true
DEBUGBAR_ENABLED=false
APP_URL=http://127.0.0.1
API_SUBDOMAIN=api

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

TENANCY_MODE=multi #mutil, single

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
# SESSION_DOMAIN=.frank.ng

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# // RESEND DETAILS
RESEND_API_KEY=

MAIL_MAILER=resend # log, resend
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="onboarding@resend.dev"
MAIL_FROM_NAME="${APP_NAME}"

MAIL_ADMIN_EMAIL=oscarminiblog@gmail.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=127.0.0.1:8000,localhost:8000,larv.frank.ng

AUTH_SECRET='' # run 'npx auth secret' or 'openssl rand -base64 32' to generate a new AUTH_SECRET

AUTH_GOOGLE_ENABLED=true
AUTH_GOOGLE_CLIENT_ID=your_google_client_id_here
AUTH_GOOGLE_CLIENT_SECRET=your_google_client_secret_here
AUTH_GOOGLE_REDIRECT=http://127.0.0.1:8000/auth/google/callback

AUTH_FACEBOOK_ENABLED=true
AUTH_FACEBOOK_CLIENT_ID=your_facebook_client_id_here
AUTH_FACEBOOK_CLIENT_SECRET=your_facebook_client_secret_here
AUTH_FACEBOOK_REDIRECT=http://127.0.0.1:8000/auth/facebook/callback

AUTH_GITHUB_ENABLED=false
AUTH_GITHUB_CLIENT_ID=your_github_client_id_here
AUTH_GITHUB_CLIENT_SECRET=your_github_client_secret_here
AUTH_GITHUB_REDIRECT=http://127.0.0.1:8000/auth/github/callback


STRIPE_KEY=
STRIPE_SECRET=your_stripe_secret_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
CASHIER_WEBHOOK_DEBUG=true


FLW_PUBLIC_KEY=
FLW_SECRET_KEY=
FLW_ENCRYPTION_KEY=
FLW_ENV=staging # or production
FLW_CURRENCY=NGN
FLW_WEBHOOK_SECRET_HASH=
FLW_LOGGING_ENABLED=true
FLW_LOG_DIR=logs/flutterwave



PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_WEBHOOK_SECRET=
PAYSTACK_BASE_URL=https://api.paystack.co




PAYSTACK_ENABLED=true # Boolean, true or false

FLUTTERWAVE_ENABLED=true # Boolean, true or false

STRIPE_ENABLED=true # Boolean, true or false

NGN_GATEWAY=paystack #flutterwave, paystack


OPENAI_API_KEY=your_openai_api_key_here
OPENAI_ORGANIZATION=your_openai_organization_id_here
OPENAI_CHAT_MODEL=gpt-5.1



GEMINI_API_KEY=your_gemini_api_key_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here
YOUTUBE_API_KEY=your_youtube_api_key_here



YOUTUBE_API_KEY=your_youtube_api_key_here
